:root {
    --color-light: #eef1fe;
    --color-light-010: #dde4fc;
    --color-dark: #11141d;
    --color-dark-010: #1a2133;
    --color-primary: #4c8bf0;
    --color-secondary: #5f4cf0;
    --color-success: #5bba2c;
    --color-info: #63b6ff;
    --color-danger: #ff3a3a;

    --navbar-width: 240px;
    --header-height: 10rem;
}
