:host {
    .task-item {
        width: 100%;
        padding: var(--rem-sm) var(--rem-md);
        background: var(--color-black-010);
        border: 2px solid var(--color-black);
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
            border: 2px solid var(--color-secondary);
        }
    }

    .task-status {
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: capitalize;
        padding-left: 1.2rem;
        position: relative;

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }

        &.completed {
            color: var(--color-success);
        }

        &.deleted {
            color: var(--color-danger);
        }

        &::before {
            content: "⦁";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .task-item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .task-title {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: capitalize;

        @media screen and (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    .task-actions {
        display: flex;

        button {
            padding: 0.4rem;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            color: var(--color-black);
            border: none;
            border-radius: 5px;
            background: var(--color-secondary);
            cursor: pointer;
            transition: all 0.3s;

            &:not(:last-child) {
                margin-right: var(--rem-sm);
            }

            &.btn-conclude {
                &:hover {
                    background: var(--color-success);
                }
            }

            &.btn-edit,
            &.btn-restore {
                &:hover {
                    background: var(--color-info);
                }
            }

            &.btn-delete {
                &:hover {
                    background: var(--color-danger);
                }
            }

            mat-icon {
                font-size: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                display: block;
                position: absolute;
                width: 0px;
                height: 0px;
                visibility: hidden;
            }
        }
    }

    .task-infos {
        display: flex;
        gap: 2.4rem;
        margin-top: var(--rem-sm);

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: var(--rem-sm);
        }

        > *:not(:last-child) {
            &::after {
                content: "⦁";
                position: absolute;
                right: -1.4rem;
                top: 0;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    .task-subject,
    .task-priority,
    .task-deadlineDate {
        color: var(--color-secondary);
        text-transform: capitalize;
        font-size: 1.4rem;
        font-weight: bold;
        position: relative;

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }
    }

    .task-item-details {
        margin-top: var(--rem-md);
        font-size: 1.4rem;

        summary {
            cursor: pointer;
        }

        details[open] {
            summary {
                margin-bottom: 0.8rem;
            }
        }
    }
}
