<nav>
    <h1>
        <a routerLink="dashboard">Logo</a>
    </h1>
    <ul>
        <li>
            <a routerLink="dashboard" routerLinkActive="active-link">
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="create-task" routerLinkActive="active-link">
                Criar tarefa
            </a>
        </li>
        <li>
            <a routerLink="deadline" routerLinkActive="active-link">
                Vencimentos
            </a>
        </li>
        <li>
            <a routerLink="historic" routerLinkActive="active-link">
                Histórico
            </a>
        </li>
    </ul>
</nav>
