<nav class="navbar">
    <h1 class="logo">
        <a routerLink="dashboard">
            <img src="assets/logo.svg" alt="Task Manager logo" />
        </a>
    </h1>

    <ul class="nav-links-container">
        <li>
            <a
                routerLink="dashboard"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </a>
        </li>

        <li>
            <a
                routerLink="create-task"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>note_add</mat-icon>
                Criar tarefa
            </a>
        </li>

        <li>
            <a
                routerLink="deadline"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>feedback</mat-icon>
                Vencimentos
            </a>
        </li>

        <li>
            <a
                routerLink="historic"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>history</mat-icon>
                Histórico
            </a>
        </li>

        <li>
            <a
                routerLink="about"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>info</mat-icon>
                Sobre
            </a>
        </li>
    </ul>
</nav>
