:host {
    nav {
        width: var(--navbar-width);
        height: 100dvh;
        padding: 1.6rem;
        border-right: 1px solid var(--color-black-010);

        .logo {
            margin: 0;
            margin-bottom: 4rem;
            text-align: center;

            a {
                color: var(--color-primary);
                font-size: 2.5rem;
            }
        }

        .nav-links-container {
            .nav-link {
                display: block;
                padding: 1.6rem;
                margin-bottom: 0.8rem;
                border-radius: 1.6rem;
                color: var(--color-white);
                font-weight: 300;
                display: flex;
                align-items: center;

                mat-icon {
                    margin-right: 0.8rem;
                }

                &:hover,
                &.active-link {
                    background-color: var(--color-black-010);
                }
            }
        }
    }
}
