<nav class="navbar">
    <h1 class="logo">
        <a routerLink="dashboard">
            <img src="assets/icon.svg" alt="TaskManager logo" />
        </a>
    </h1>

    <ul class="nav-links-container">
        <li class="nav-link-item dashboard">
            <a
                routerLink="dashboard"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </a>
        </li>

        <li class="nav-link-item create-task">
            <a
                routerLink="create-task"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>note_add</mat-icon>
                Criar tarefa
            </a>
        </li>

        <li class="nav-link-item deadline">
            <a
                routerLink="deadline"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>feedback</mat-icon>
                Vencimentos
            </a>
        </li>

        <li class="nav-link-item historic">
            <a
                routerLink="history"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>history</mat-icon>
                Histórico
            </a>
        </li>

        <li class="nav-link-item about">
            <a
                routerLink="about"
                routerLinkActive="active-link"
                class="nav-link"
            >
                <mat-icon>info</mat-icon>
                Sobre
            </a>
        </li>
    </ul>
</nav>
