<li class="task-item">
    <div class="task-item-header">
        <p class="task-title">
            {{ title }}
        </p>

        <div class="task-actions">
            <button (click)="handleDeleteTask(id)" class="btn-conclude">
                <mat-icon>done</mat-icon>
                <span> Concluir </span>
            </button>
            <button (click)="handleUpdateTask(id)" class="btn-update">
                <mat-icon>edit</mat-icon>
                <span> Editar </span>
            </button>
            <button (click)="handleDeleteTask(id)" class="btn-delete">
                <mat-icon>delete</mat-icon>
                <span> Excluir </span>
            </button>
        </div>
    </div>

    <div class="task-infos">
        @if(subject){
        <div class="task-subject">
            <p>{{ subject }}</p>
        </div>
        }

        <!---->

        @if (priority === taskPrioritiesValues.HIGH) {
        <div class="task-priority">
            <p>Prioridade: {{ priority }}</p>
        </div>
        }

        <!---->

        @if(deadlineDate){
        <div class="task-deadlineDate">
            <p>Prazo: {{ deadlineDate | date : "dd/MM/yyyy" }}</p>
        </div>
        }
    </div>

    @if(description){
    <div class="task-item-details">
        <details>
            <summary>Ver descrição</summary>
            <p>
                {{ description }}
            </p>
        </details>
    </div>
    }
</li>
