<li class="task-item">
    @if (task.status !== taskStatusValues.PENDING) {
    <div class="task-status-container">
        @if (task.status === taskStatusValues.COMPLETED) {
        <p class="task-status completed">realizada</p>
        } @else if (task.status === taskStatusValues.DELETED) {
        <p class="task-status deleted">excluída</p>
        }
    </div>
    }

    <div class="task-item-header">
        <p class="task-title">
            {{ task.title }}
        </p>

        <div class="task-actions">
            @if (task.status === taskStatusValues.PENDING) {

            <button
                (click)="handleCompleteOrDeleteTask(task.id, 'complete')"
                class="btn-conclude"
            >
                <mat-icon>done</mat-icon>
                <span> Concluir </span>
            </button>

            <button (click)="handleEditTask(task.id)" class="btn-edit">
                <mat-icon>edit</mat-icon>
                <span> Editar </span>
            </button>

            <button
                (click)="handleCompleteOrDeleteTask(task.id, 'delete')"
                class="btn-delete"
            >
                <mat-icon>delete</mat-icon>
                <span> Excluir </span>
            </button>

            } @else {
            <button (click)="handleRestore(task.id)" class="btn-restore">
                <mat-icon>cached</mat-icon>
                <span> Restaurar </span>
            </button>

            }
        </div>
    </div>

    <div class="task-infos">
        @if(task.subject){
        <div class="task-subject">
            <p>{{ task.subject }}</p>
        </div>
        }
        <!---->

        @if(task.deadlineDate){
        <div class="task-deadlineDate">
            <p>{{ task.deadlineDate | date }}</p>
        </div>
        }
        <!---->

        @if (task.priority === taskPrioritiesValues.HIGH) {
        <div class="task-priority">
            <p>Prioridade {{ task.priority }}</p>
        </div>
        }
    </div>

    <!---->

    @if(task.description){
    <div class="task-item-details">
        <details>
            <summary>Ver descrição</summary>
            <p>
                {{ task.description }}
            </p>
        </details>
    </div>
    }
</li>
