<li class="task-item">
    <div class="task-item-header">
        <p class="task-title">
            {{ task.title }}
        </p>

        <div class="task-actions">
            <button
                (click)="handleCompleteOrDeleteTask(task.id, 'complete')"
                class="btn-conclude"
            >
                <mat-icon>done</mat-icon>
                <span> Concluir </span>
            </button>

            <button (click)="handleEditTask(task.id)" class="btn-edit">
                <mat-icon>edit</mat-icon>
                <span> Editar </span>
            </button>

            <button
                (click)="handleCompleteOrDeleteTask(task.id, 'delete')"
                class="btn-delete"
            >
                <mat-icon>delete</mat-icon>
                <span> Excluir </span>
            </button>
        </div>
    </div>

    <div class="task-infos">
        @if(task.subject){
        <div class="task-subject">
            <p>{{ task.subject }}</p>
        </div>
        }
        <!---->

        @if(task.deadlineDate){
        <div class="task-deadlineDate">
            <p>{{ task.deadlineDate | date }}</p>
        </div>
        }
        <!---->

        @if (task.priority === taskPrioritiesValues.HIGH) {
        <div class="task-priority">
            <p>Prioridade {{ task.priority }}</p>
        </div>
        }
    </div>

    <!---->

    @if(task.description){
    <div class="task-item-details">
        <details>
            <summary>Ver descrição</summary>
            <p>
                {{ task.description }}
            </p>
        </details>
    </div>
    }
</li>
