:host {
    .task-item {
        margin-bottom: 2.4rem;
        padding: 0.8rem 1.6rem;
        background: var(--color-black-010);
        border: 2px solid var(--color-black);
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
            border: 2px solid var(--color-secondary);
        }
    }

    .task-item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .task-title {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    .task-actions {
        display: flex;

        button {
            padding: 0.4rem;
            display: flex;
            align-items: center;
            font-size: 2rem;
            color: var(--color-black);
            border: none;
            border-radius: 5px;
            background: var(--color-secondary);
            cursor: pointer;
            transition: all 0.3s;

            &:not(:last-child) {
                margin-right: 0.8rem;
            }

            &:hover {
                background: var(--color-primary-010);
            }

            &.btn-conclude {
                &:hover {
                    background: var(--color-success);
                }
            }

            &.btn-update {
                &:hover {
                    background: var(--color-info);
                }
            }

            &.btn-delete {
                &:hover {
                    background: var(--color-danger);
                }
            }

            mat-icon {
                font-size: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                display: block;
                width: 0px;
                height: 0px;
                visibility: hidden;
                position: absolute;
            }
        }
    }

    .task-infos {
        display: flex;
        gap: 1.2rem;
        margin-top: 0.4rem;
    }

    .task-subject,
    .task-priority,
    .task-deadlineDate {
        padding: 0 0.4rem;
        background: var(--color-secondary);
        border-radius: 5px;
        color: var(--color-black-010);
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    .task-item-details {
        margin-top: 1.2rem;

        details[open] {
            summary {
                margin-bottom: 0.8rem;
            }
        }
    }
}
