:host {
    .about-container {
        width: 100%;
        height: 100%;
    }

    .about-header {
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-primary);

        h3 {
            font-size: var(--title-size);
        }
    }

    .about-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var(--rem-lg);
        height: calc(100% - var(--header-height));
    }

    .about-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var(--rem-sm);

        a {
            display: flex;
            gap: var(--rem-sm);
            color: var(--color-primary);
            font-size: 1.6rem;
            font-weight: bold;

            fa-icon,
            img {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1em;
            }
        }
    }
}
