:host {
    .about-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var(--rem-lg);
    }

    .about-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var(--rem-sm);

        a {
            display: flex;
            gap: var(--rem-sm);
            color: var(--color-primary);
            font-size: 1.6rem;
            font-weight: bold;

            fa-icon,
            img {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1em;
            }
        }
    }
}
