@import "../3-helpers/mixins";

:host {
    .historic-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .historic-header {
        width: 100%;
        height: var(--header-height);
        display: grid;
        grid-template-columns: 1fr auto;
        place-content: center;
        padding: var(--rem-md);
        color: var(--color-primary);

        > * {
            justify-self: center;
        }

        h3 {
            font-size: var(--title-size);
        }
    }

    .btn-clear-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--rem-md);
    }

    .btn-clear {
        @include btn-default;
        width: 100%;
    }
}
