@import "../3-helpers/mixins";

:host {
    .notFound-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
    }

    .notFound-msg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--color-secondary);

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }

        .error-number {
            font-size: 6rem;
            font-weight: bold;
        }
    }

    .notFound-btn {
        @include btn-default;
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary);

        &:hover {
            border: 1px solid var(--color-secondary);
            color: var(--color-secondary);
        }
    }
}
