:root {
    --color-white: #fefffd;
    --color-gray: #dcdcdc;
    --color-black: #101418;
    --color-black-010: #35383f;
    --color-primary: #fef27c;
    --color-primary-010: #e5da70;
    --color-secondary: #b8bde3;
    --color-success: #21dd88;
    --color-info: #2f98f9;
    --color-danger: #ff708c;

    --nav-width: 240px;
    --header-height: 10rem;
}
