<section class="about-container">
    <div class="about-item">
        <span>Projeto criado por:</span>
        <a href="https://github.com/wendellwcl" target="_blank">
            <fa-icon [icon]="githubIcon"></fa-icon>
            Wendellwcl
        </a>
    </div>

    <div class="about-item">
        <span>Repositório do projeto:</span>
        <a href="https://github.com/wendellwcl/TaskManager" target="_blank">
            <img src="assets/logo.svg" />
            TaskManager
        </a>
    </div>
</section>
