:host {
    .about-container {
        width: 100%;
        height: 100%;
        display: flex;
        place-content: center;
        flex-direction: column;
        gap: 3.2rem;
    }

    .about-item {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 0.8rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            color: var(--color-primary);
            font-size: 1.6rem;
            font-weight: bold;

            fa-icon,
            img {
                display: flex;
                place-items: center;
                place-content: center;
            }

            fa-icon {
                font-size: 1.8em;
            }

            img {
                height: 1.6em;
            }
        }
    }
}
