@use "./_measures";

app-root {
    display: grid;
    grid-template-columns: 240px auto;

    .outlet-container {
        position: relative;
        width: calc(100vw - var(--nav-width));
        height: 100dvh;
        overflow: hidden;
    }
}
