<section class="task-form-container">
    <h2 class="task-form-header">{{ this.headerText() }}</h2>

    <form
        class="task-form"
        [formGroup]="taskForm"
        (ngSubmit)="handleSubmitTaskForm()"
    >
        <div class="input-container" #titleContainer>
            <input
                type="text"
                id="title"
                #inputField
                #titleInput
                class="input-field"
                placeholder="Título"
                autocomplete="off"
                formControlName="title"
                (focus)="removeInvalidClass($event)"
            />
            <label for="title" class="label"> Título </label>
            <div class="invalid-input-message">
                O campo "Título" deve ser preenchido.
            </div>
        </div>

        <div class="input-container">
            <input
                type="text"
                id="subject"
                #inputField
                class="input-field"
                placeholder="Assunto"
                autocomplete="off"
                formControlName="subject"
                list="subjectsDataList"
            />
            <label for="subject" class="label"> Assunto </label>
            <datalist id="subjectsDataList">
                @for (subject of tasksSubjectsList(); track $index) {
                <option value="{{ subject }}"></option>
                }
            </datalist>
        </div>

        <div class="input-container">
            <textarea
                id="description"
                #inputField
                class="input-field"
                placeholder="Descrição"
                autocomplete="off"
                formControlName="description"
            ></textarea>
            <label for="description" class="label"> Descrição </label>
        </div>

        <div class="select-container">
            <label for="priority"> Prioridade </label>
            <select id="priority" formControlName="priority">
                <option [value]="taskPriorities.DEFAULT">
                    {{ taskPriorities.DEFAULT }}
                </option>
                <option [value]="taskPriorities.HIGH">
                    {{ taskPriorities.HIGH }}
                </option>
            </select>
        </div>

        <div class="date-container">
            <label for="date"> Prazo </label>
            <input type="date" id="date" formControlName="deadlineDate" />
        </div>

        <button class="btn-submit" type="submit">{{ this.btnText() }}</button>
    </form>
</section>
