:host {
    .historic-container {
        height: 100%;
        overflow-y: scroll;
    }

    .historic-header {
        width: 100%;
        height: var(--header-height);
        display: grid;
        grid-template-columns: 1fr auto;
        place-content: center;
        padding: 0 3.6rem;
        font-size: 2.4rem;
        color: var(--color-primary);

        > * {
            justify-self: center;
        }

        button {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            padding: 0.8rem;
            border: none;
            border-radius: 5px;
            background: var(--color-primary);
            color: var(--color-black-010);
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background: var(--color-primary-010);
            }
        }
    }
}
